.head{
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: #2980b9;
    color: white;
    font-size: 26pt;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    
}

.button {
    background-color: #2980b9; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;

    
    
}

.bawdy {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 35px;
    padding-left: 30px;
    background-color: #2980b9;
    font-family: 'Roboto Slab', serif;
    
    
}

.all {
    text-align: center;
    background-color: #2980b9;
    font-family: 'Roboto Slab', serif;
}

.bod{
   background-color: #2980b9; 
}